<html>

<body>

<div>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Название книги" />
        <input type="text" name="author" placeholder="Автор">
        <button type="submit" >Добавить</button>
           </form>

    <form action="/update" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="title" value="{{title}}" placeholder="Название книги" />
        <input type="text" name="author" value="{{author}}" placeholder="Автор">
        <button type="submit" >UPDATE</button>
           </form>
</div>




<div>Список книг</div>


{{#book}}
    <table>
<tr>
        <th>{{id}}</th>
        <th>{{title}}</th>
        <th>{{author}}</th>
        <th><a href="/delete?id={{id}}">УДАЛИТЬ</a></th>
        <th><a href="/update?id={{id}}">UPDATE</a></th>
    <th><form action="/delete2" method="post"><input type="hidden" name="id" value="{{id}}">
        <input type="submit" value="DELETE2"></form></th>
        </tr>
    </table>
{{/book}}

</body>
</html>