<html>

<body>
    <a href="/">MAIN</a>
<div>
    <div>Редактировать книги</div>
    <form action="/" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="title" value="{{title}}" placeholder="Название книги" />
        <input type="text" name="author" value="{{author}}" placeholder="Автор">
        <button type="submit" >UPDATE</button>
    </form>
</div>

</body>
</html>